@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navigation Bar Hover Links Animation */
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 1px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#6138F5, #6138F5)
}

.link-underline:hover {
    background-size: 70% 1px;
    background-position: 50% 100%;
}